<!DOCTYPE html>
    <h1>Welcome to <%= @user.username %>'s profile!</h1>
    <h3>Check out their backlog of games!</h3>
    <% if @user.games.empty? %>
    <p> Looks like they've cleared their backlog!! </p>
    <% else %>
    <% @user.games.each do |game| %>
        <a href="/games/<%= game.id %>"><%= game.name %></a> (<%= game.console %>, <%= game.genre %>)<br>

        <% end %>
        <% end %>

</html>